<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kaano8.androidcore">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".AndroidCoreApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCore"
        tools:targetApi="31">
        <service android:name=".service.timerservice.TimerService" />
        <service android:name=".com.kaano8.androidcore.service.progressservice.ProgressService" />
        <activity
            android:name=".com.kaano8.androidcore.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>